.thirdmainbox{
        position: relative;
        left: 20vw;
        display: inline-block;
        border: 0.5px solid rgb(118, 116, 116);
        border-radius: 5px;
        margin-right: 1vw;
}
.thirdinsidebox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5vh;
}
#insidebox{
    display: flex;
    flex-direction: column;
    color: rgb(93, 91, 91);
}
.color{
    color: rgb(93, 91, 91);
}
.thirdinnerbox{
    padding: 3.2% 5.2%;
}
.thirdiconsbox span{
    margin-right: 0.81vw;
}