.thirdmainbox{
        position: relative;
        left: 20vw;
        display: inline-block;
        border: 0.5px solid rgb(118, 116, 116);
        border-radius: 5px;
        margin-right: 1vw;
}
.thirdinsidebox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5vh;
}
#insidebox{
    display: flex;
    flex-direction: column;
    color: rgb(93, 91, 91);
}
.color{
    color: rgb(93, 91, 91);
}
.thirdinnerbox{
    padding: 3.2% 5.2%;
}
.thirdiconsbox span{
    margin-right: 0.81vw;
}
.button{
    width: 2vw;
    margin-right: 0.39vw;
    margin-left: 0.5vw;
    margin-top: 0.39vh;
    height: 4vh;
    border: 0px solid white;
    border-radius: 300px;
}
#btn1{
    background-color: rgb(241, 241, 51);
}
#btn2{
    background-color: rgb(194, 65, 65);
}
#btn3{
    background-color: rgb(139, 139, 241);
}
#btn4{
    background-color: burlywood;
}
#btn5{
    background-color: rgb(87, 45, 45);
}
#btn6{
    background-color: rgb(83, 151, 83);
}