.thirdmainbox{
        position: relative;
        left: 24vw;
        display: inline-block;
        border: 0.5px solid rgb(118, 116, 116);
        border-radius: 5px;
        margin-right: 1vw;
}
.thirdinsidebox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5vh;
}

#insidebox{
    display: flex;
    flex-direction: column;
    color: rgb(93, 91, 91);
}
.color{
    color: rgb(93, 91, 91);
}
.thirdinnerbox{
    padding: 3.2% 5.2%;
}
.thirdiconsbox span{
    margin-right: 0.81vw;
}
.button{
    width: 2vw;
    margin-right: 0.39vw;
    margin-left: 0.5vw;
    margin-top: 0.39vh;
    height: 4vh;
    border: 0px solid white;
    border-radius: 300px;
}
#btn1{
    background-color: #2ECC71;
}
#btn2{
    background-color: #F1948A;
}
#btn3{
    background-color: #AAB7B8;
}
#btn4{
    background-color: #F5B7B1;
}
#btn5{
    background-color: #F5B041;
}
#btn6{
    background-color: #F1948A;
}
.card{
    width: 18vw;
}
#thirdboxtitle{
    background-color: transparent;
    border: none;
    padding: 6px 10px;
    font-size: medium;
}
